<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
<!DOCTYPE html>
<html>
    <head>
        <title>BakkaTest.com</title>
    </head>
    <body>
        <h1> Главное меню</h1>
        <form action="/profile">
            <button type="submit">Профиль</button>
        </form>
        <form action="/orders">
            <button type="submit">Мои заказы</button>
        </form>
        <form action="/store">
            <button type="submit">Сделать заказ</button>
        </form>
    </body>
</html>